<ul>
  <li>email:<%= @guest.email %></li>
  <li>nick: <%= @guest.nick %></li>
  <li>text: <%= @guest.text %></li>
  <li>created_at: <%= @guest.created_human_at %></li>
  <li>ip: <%= @guest.ip %></li>
</ul>
<a href="/guests" class="btn btn-primary">back</a>
<a href="/guests/<%= @guest.id%>/edit" class="btn btn-primary">edit</a>


<form action="/guests/<%= @guest.id %>/delete" method="post">
 <!-- <input type="hidden" name="_method" value="delete">-->
  <input class="btn btn-warning" type="submit" value="Delete">
</form>

